header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 6rem;
  border-bottom: 2px solid gray;

  .boxLogo {
    display: flex;
    align-items: center;
    gap: 0.6rem;
  }
  
  a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: 600;
  }
}

nav {
  display: flex;
  align-items: center;
  gap: 2rem;
  a {
    font-weight: 500;
    &:nth-child(2) {
      background-color: #00745a;
      color: white;
      border-radius: 8px;
      padding: 0.6rem 1.3rem;
    }
  }
}

.menuBtn {
  display: none;
  border: 0;
  background: transparent;
  font-size: 1.6rem;
  cursor: pointer;
}


@media (max-width: 900px) {
  .header {
    padding: 1rem 1.2rem;
  }

  .nav {
    display: none;
  }

  .menuBtn {
    display: block; 
  }
}